@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

*{
    margin:0;
    padding:0;
}
body{
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    width:100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'PT Sans', sans-serif;   
    font-weight: 400;
}
p{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color:#6C6969;
    font-family: 'PT Sans', sans-serif;
}
a{
    font-family: 'PT Sans', sans-serif;
    color:#f00;
    text-decoration:none;
}
a:focus, a:hover {
    color: #23527C;
    text-decoration: none;
}
.no-padding{
    padding:0;
}
#range {
    border: 1px solid #d5d4da;
    display: block;
    font-size: 14px;
    padding-left: 3px;
    padding-top: 0;
    width: 40px;
}
.range input{
	 border: none;
}
.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
     padding: 6px 20px !important;
}
.paddingClassCommon{
padding-left: 15px;
    padding-right: 15px;
}
h1.h123MarginBottom {
	color: inherit;
}
.h123MarginBottom{
	margin-bottom: 15px;
	font-family: "PT Sans",sans-serif;
    font-weight: 400;
    text-transform: none;
}

.list-unstyled {
    list-style: outside none none;
    padding-left: 0;
}
.center{
	margin-left:auto;
	margin-right:auto;
	display:block;	
}
.no-left-padding{
    padding-left: 0
}
.no-right-padding{
     padding-right: 0
}
.heading{
    font-size: 23px;
    padding-bottom: 8px;
    padding-top: 5px;
}
.heading span{
    font-size: 16px;
    color: #d0351d;
}
/*--------------------------
    top section 
--------------------------*/
.top-head{
    padding-top: 20px;
    padding-bottom: 25px;
}
.img-right{
    margin-right: 0px;
    margin-left: auto;
}
.border-top-1{
    background: #ffb400;
    height: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.border-top-2{
    background: #000000;
    height: 20px;
}
.border-top-3{
    background: #000000;
    padding: 10px 0 2px;
}
.border-top-3 p{
    color:#fff;
    margin-right: 20px;
}


/*-----------------------
    INDEX-PAGE
-----------------------*/

.day{
    font-size: 14px;
    text-align: center;
    background: #ffb400;
    padding: 10px;
    color: rgb(255, 255, 255);
    margin-bottom: 0
}
.date{
    font-size: 14px;
    text-align: center;
    margin: 4px 0px;
    font-weight: 700;

}
.time{
    font-size: 14px;
    text-align: center;
    margin: 4px 0px;
}
.date-border{
    border: 1px solid #d5d4da;
    border-top:none;
}
.choose-seat-heading{
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 35px;
}
.choose-top-right ul li h2{
    font-size: 14px;
    margin-top: -18px;
    margin-left: 15px;
}
.choose-top-right ul .different-li{
    color: #df532b
}
.choose-right-border .checkbox input[type="checkbox"], 
.choose-right-border .checkbox-inline input[type="checkbox"]{
    margin-left: 10px;
}
.choose-right-border{
    border-right: 1px solid #d5d4da;
    height: 34px;
}

.all-range-sec{
    padding-top: 5px;
}
.range{

    width: 96%;
    padding-left: 18px;
}
.range-price{
    font-size: 14px;
    margin: 0px;
    
}
.range span{
    border: 1px solid #d5d4da;
    padding-right: 7px;
}
.ticket-only .checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 5px;
    margin-bottom: 8px;
}
h1.choose-right-any{
    font-size: 13px;
    margin: 0;
    font-weight: normal;
    text-transform: none;
}
.h5, h5 {
    font-size: 14px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.choose-right-any{
    font-size: 13px;
    margin: 0;
}
.choose-right-any span{
    color: #969699
}
.choose-right-any i{
    color: #969699
}
.chose-map-right-content{
    border: 1px solid #d5d4da;
    box-shadow: -3px -2px 8px #d5d4da;
}
.right-content-1st-box{
    border-left: 10px solid #a2bf54;
    border-bottom: 1px solid #d5d4da
}
.right-content-2st-box{
    border-left: 10px solid #60abd0;
    border-bottom: 1px solid #d5d4da
}
.right-content-3st-box{
    border-left: 10px solid #b288b6;
    border-bottom: 1px solid #d5d4da
}
.right-content-4st-box{
    border-left: 10px solid #e7a353;
    border-bottom: 1px solid #d5d4da
}
.right-content-5st-box{
    border-left: 10px solid #cc6868;
    border-bottom: 1px solid #d5d4da
}
.right-content-6st-box{
    border-bottom: 1px solid #d5d4da;
    border-left: 1px solid #d5d4da
}
.right-content-box span{
    color: #86868d
}
.choose-pass p{
    font-size: 12px;
    padding: 0.;
    margin: 0;
    color: #fff;
}
.choose-pass{
    background: #494848
}
.low-to-high span{
    color: #92868a
}
.low-to-high {
    margin: 0px;
    background: #e8e8e8;
    padding: 5px;
    color: #999;
}
.choose-tick-sec{
    padding: 10px 0;
}
.icon-btn{
    padding: 0px 4px;
    font-size: 16px;
}
.btn-2{
    margin-top: -3px;
}

.legenda-btn .btn-default {
    color: #333;
    background-color: #f2f2f2;
    border-color: #ccc;
    box-shadow: 1px 0px 2px #ADAAAA;
    margin-left: -40px;
    margin-top: -26px;
    margin-bottom: 20px;
}





/*-----------------------
    checkout-PAGE
-----------------------*/
.checkout-section .breadcrumb {
    padding: 16px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid #d5d4da;
} 
.checkout-section .breadcrumb > .active {
    color: #4a4a4a;
    font-size: 16px;
}
.checkout-section .breadcrumb > li > a{
    font-size: 16px;
}
 /*------ col-md-8 css end ---*/
.checkout-section  a {
    color: #000;
    text-decoration: underline;
}
.left-content{
    padding-right: 75px;
}
.payment{
    border: 1px solid #d5d4da;
    background: #e9e8ea;
    padding: 0px 30px 25px;
}
.color-img{
    margin-top: 28px;
}
.checkout-section label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 16px;
}
.checkout-section label span {
    color: #d0351d
}
.checkout-section label .optional{
    color: #818080
}
.chek-boxsign{
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkout-section .chek-boxsign label{
    font-size: 14px;
}
.card-details{
    margin-top: 20px;
}
.gift{
    margin-top: 20px;
}
.gift a{
    font-size: 15px;
    text-decoration: none;
    color: #3073ac
}
.form-circle a i{
    margin-top: 34px;
    font-size: 18px;
    color: #3073ac;
    z-index: 1
}
.phn-form{
    z-index: 1
}
 /*------ col-md-8 css end ---*/
.right-content{
    
}
.right-content-top{
    background: #e9e8ea;
    padding: 0 20px;  
}
.right-aladdin-head{
    font-size: 18px;
}
.right-content .right-time-para p{
    margin-bottom: 0;
    font-size: 14px;
    margin-top: -4px;
}
.delivery{
    font-size: 13px;
    margin-top: 14px;
}
.change{
    font-size: 14px;
    text-align: right;
    margin-top: 14px;
    color: #3073ac;
}
.tckt{
    color: rgb(0, 0, 0);
    font-weight: 400;
    margin: 0px 2px 0px;
    font-size: 14px;
}
.right-time-para{
    padding-bottom: 12px;
    padding-top: 4px;
}
.border{
    background: #d5d4da;
    height: 1px;
}
.tckt a i{
    font-size: 18px;
    color: #3073ac;
}
.price-multi{
    margin-bottom: 0px;
    font-size: 14px;
    text-align: right;
}
.total-price{
    margin-bottom: 0px;
    font-size: 14px;
    text-align: right;
}
.right-side-total{
    text-align: right;
    margin-bottom: 0px;
    padding-top: 5px;
}
.right-side-total i{
    font-size: 18px;
    color: #3073ac;
}
.bottom-total-price{
    text-align: right;
    color: #669d05;
    font-size: 14px;
    font-weight: 700;
    padding-top: 5px;
}
.right-amn{
    margin-top: 10px;
    margin-bottom: 15px;
}
.right-bottom-para{
    font-size: 15px
}
.right-bottom-para a{
    color: #3073ac;
    text-decoration: none;
}
.order-btn .btn-primary{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%
}
.map-section{
    margin-top: 60px;
}
output {
    display: block;
    padding-top: 0px;
    font-size: 14px;
    border: 1px solid #d5d4da;
    width: 40px;
    padding-left: 3px;

}
/*------ col-md-4 css Start ---*/
input[type="range"] {
    display: block;
    width: 96%;
    border-radius: 50%;
}




/*------ col-md-4 css End ---*/


/*-----------------------
    footer Section
------------------------*/
.footer-bg{
    background: #000;
    padding: 0 22px 10px;
    margin-bottom: 6px;
    margin-top: 45px;
}

.footer-bg ul{
   padding-top: 24px;;
}
.footer-bg ul li a{
    color: #fff;
    text-decoration: none;
    padding-right: 26px;
}
.footer-img{
    margin-top: 10px;
}
.copy-right{
    margin-top: 35px;
}
.btn-default:hover{
    background: transparent;
}
/*-------------------
    media section
---------------------*/
@media (max-width: 768px) and (min-width: 480px){
    
}
@media (max-width: 979px){    
   .left-content{
        padding-right: 0px;
    }
    .no-right-padding {
        padding: 0;
    }
    select{
        margin-top: 10px;
    }
    .security-code{
        padding: 0px 18px 0 0;
    }
    .color-img {
        margin-top: 14px;
        padding: 0;
    }
    .right-aladdin-head {
        padding-top: 20px;
    }
    .tikt-top{
        margin-top: 25px;
    }
    .legenda-btn .btn-default {
        margin-left: 0px;
        margin-top: 0px;
    }
    .choose-right-border {
        border-right: 1px solid #d5d4da;
        height: auto;
    }
    output {
        margin-top: 10px;
    }
    .ticket-only .checkbox label{
        padding: 0
    }
    .range {
        padding-left: 0px;
    }
    input[type="range"] {
        margin-top: 10px;
    }
	.btn-default{margin-top:2%;}
}
@media (max-width: 480px){
    .price-multi {
        margin-bottom: 0px;
        font-size: 14px;
        text-align: center;
    }
    .footer-bg ul li a {
        color: #fff;
        text-decoration: none;
        padding-right: 3px;
    }
    .checkout-section .breadcrumb > li > a {
      font-size: 14px;
    }
    .ticket-only .checkbox label{
        padding: 0
    }
}

@media (max-width: 1200px) and (min-width:980px){
	
}
